<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bandhan.mantra">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BandhanMantraApp"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Registration"
            android:label="User Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ContactGroupsListActivity"
            android:label="Group List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContactListActivity"
            android:label="Contact List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateContactActivity"
            android:label="Create Contact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CampaignsListActivity"
            android:label="Campaigns"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateCampaignActivity"
            android:label="Create Campaign"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RecurringCampaignListActivity"
            android:label="Recurring Campaigns"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateRecurringCampaignActivity"
            android:label="Create Recurring Campaign"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CouponCampaignsListActivity"
            android:label="Coupon Campaigns"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateCouponCampaignActivity"
            android:label="Create Coupon Campaign"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TemplatesListActivity"
            android:label="Templates"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RedeemCouponsActivity"
            android:label="Redeem Coupons"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.NotificationsActivity"
            android:label="Notifications"
            android:screenOrientation="portrait"/>
    </application>

</manifest>